* {
    box-sizing: border-box;
}

.Movie {
    width: 100%;
    display: flex;
    border: 2px solid black;
    height: auto;
    color: black;
}

img {
    width: 100%;
    height: auto;
}

img:hover {
    transform: none;
    border-radius: 0px;
}

.MovieGenres{
    position: absolute;
    top: 17%;
    left: 3.5%;
}
.MovieGenre{
    font-size: 20px;
    width: auto;
    height: auto;
    background: yellow;
    border: 2px solid green;
}