.Header {
    min-height: 50px;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

.User {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    /*border: 1px solid black;*/
    /*background: white;*/
    margin-right: 40px;
}